/*html {
	width: 300px;
	height: 100px;
}*/

/*body {
	position: absolute;
	left: 50%;
	margin-left: -25%;
}*/

#talkViewTitle {
/*	width: 300px;*/
	text-align: center;
/*	font-size: 20pt;
	margin-top: 3%;
	margin-right: -25%;*/
}

#svgContent {
	text-align: center;
}